<div class="flex flex-col items-center px-40 mt-10">
    @if (id) {
        <h1>Edit Product</h1>
    }@else {
        <h1>Add New Product</h1>
    }
    <form class="shadow p-4" [formGroup]="productForm">
        <div class="flex flex-wrap">

            <mat-form-field class="w-full">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    @for (category of categories; track $index) {
                        <mat-option [value]="category">{{ category.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Brand</mat-label>
                <mat-select formControlName="brand" required >
                    @for (brand of brands; track $index) {
                        <mat-option [value]="brand">{{ brand.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>


            <mat-form-field class="w-full">
                <mat-label> Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter product name" required>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Short Description </mat-label>
                <input matInput formControlName="shortDescription" placeholder="Enter product short description" required>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Description </mat-label>
                <textarea matInput formControlName="description" rows="5" placeholder="Enter product description" required></textarea>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Price </mat-label>
                <input matInput formControlName="price" type="number" placeholder="Enter product price" required>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Discount </mat-label>
                <input matInput formControlName="discount" type="number" placeholder="Enter product discount" required>
            </mat-form-field>

            <div>
                <mat-checkbox class="example-margin"  formControlName = "isFeatured">Featured</mat-checkbox>
                <mat-checkbox class="example-margin" formControlName = "isNewProduct">New</mat-checkbox>

            </div>
            <div class="w-full flex flex-col" formArrayName="images">
                <div class="flex justify-between" >
                    <h4>Images</h4>
                    <button mat-raised-button color="primary" style="color: black; font-weight: bold;" type="button" (click)="addImage()">
                        Add Image
                    </button>
                    <button mat-raised-button color="primary" style="color: black; font-weight: bold;" type="button" (click)="removeImage()">
                        Remove Image
                    </button>
                </div>
                @for (item of images.controls; track $index) {
                    <mat-form-field class="w-full">
                        <mat-label> Image {{$index+1}} </mat-label>
                        <input matInput [formControlName]="$index" placeholder="Enter image URL"  >
                    </mat-form-field>
                }
            </div>
        </div>
        <div class="flex justify-center mt-4">
            @if (id) {
                <button mat-raised-button color="primary" style="color: black; font-weight: bold;" type="button" (click)="update()" >Update Product</button>
            }@else {
                <button mat-raised-button color="primary" type="button" style="color: black; font-weight: bold;" (click)="add()" >Add Product</button>
            }

        </div>
    </form>
    
</div>